<div class="bg-gradient-to-b from-[#F9EDD7] to-transparent md:h-[100vh]">
  {% include "partials/header.html" %}

  <div
    class="container-custom md:flex-row-reverse md:flex md:mt-[30px] md:h-[85vh] gap-[60px] md:w-full"
  >
    <div
      class="md:w-[50%] md:flex md:flex-col opacity-0 scroll-animate right-content md:items-start md:justify-center"
    >
      <img
        src="../assets/images/devops-service/devops-process-infographics-software-development-lifecycle-operations 1.png"
        alt="hero"
        class="w-[100vw]"
      />
    </div>
    <div
      class="md:w-[50%] md:ml-[60px] opacity-0 scroll-animate left-content md:flex md:flex-col md:items-start md:justify-center"
    >
      <p
        class="text-[12px] md:text-[14px] bg-[#F8E0B6] py-[10px] px-[32px] rounded-[35px] leading-[20px] font-[400] text-center md:text-start"
      >
        Accelerate Development. Automate Deployment. Scale Seamlessly.
      </p>
      <p
        class="mt-[40px] md:text-start text-[28px] md:text-[48px] font-[600] leading-[50px] text-center text-[#252525]"
      >
        DevOps as a Service
      </p>
      <p
        class="mt-[24px] md:text-start text-[14px] md:text-[16px] font-[400] leading-[26px] text-center"
      >
        At Plattr Tech Studio, we offer DevOps as a Service to help businesses
        streamline software delivery, reduce time-to-market, and achieve
        continuous deployment with confidence. Whether you're a startup scaling
        fast or an enterprise modernizing legacy workflows, our DevOps solutions
        bring agility, automation, and reliability to every stage of your
        development lifecycle.
      </p>
      <div
        class="mt-[50px] mb-[60px] md:mt-[60px] md:mb-0 flex justify-center md:justify-start"
      >
        <a
          href="https://calendly.com/plattrlabs/30min"
          onclick="window.open(this.href, 'popupWindow', 'width=' + (window.innerWidth * 0.8) + ',height=' + (window.innerHeight * 0.8) + ',scrollbars=yes'); return false;"
          class="inline-flex gap-2 items-center justify-center h-[44px] w-[143px] md:h-[48px] md:w-[162px] bg-[#2B4DFF] text-white font-medium rounded-full hover:bg-blue-700 transition-colors"
        >
          Book a Call
          <div class="relative flex flex-col justify-center items-center">
            <div class="bg-white rounded-full w-6 h-6"></div>
            <img
              class="absolute"
              src="../assets/images/Vector.svg"
              alt=""
              srcset=""
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-custom">
  <div
    class="flex flex-col bg-[#D8F6E6] opacity-0 scroll-animate md:py-[75px] py-[40px] rounded-[20px] mt-[60px] md:mt-[120px]"
  >
    <p
      class="text-[24px] font-[500] text-center leading-[44px] md:leading-[60px] md:text-[36px]"
    >
      What is DevOps as a <br/ class="md:hidden"> Service?
    </p>
    <p
      class="text-[14px] md:mt-[40px] px-[16px] md:px-[10%] md:text-[20px] text-center font-[400] leading-[24px] md:leading-[36px] mt-[24px]"
    >
      DevOps as a Service is a fully managed approach to integrating development
      and operations using automation, collaboration tools, cloud platforms, and
      best practices. Our team handles everything from infrastructure setup and
      pipeline automation to monitoring and scaling — so your developers can
      focus on building great products.
    </p>
  </div>
  <div class="mt-[60px] md:mt-[120px] text-[#252525]">
    <p
      class="text-[24px] md:text-[36px] leading-[44px] opacity-0 scroll-animate font-[500]"
    >
      Our DevOps Capabilities
    </p>
    <p
      class="text-[14px] md:text-[16px] leading-[26px] opacity-0 scroll-animate font-[400] mt-[28px] md:mt-[40px]"
    >
      Lorem ipsum dolor sit amet consectetur. Elementum praesent eget lacus
      pharetra ipsum adipiscing in aliquet. Quis ac urna donec quis. Vel nullam
      egestas nec at dui velit malesuada. Laoreet pellentesque tincidunt euismod
      ut egestas nibh laor60.6241455078125eet. Risus urna integer sed.
    </p>
    <div class="flex flex-col gap-[24px] md:mt-[60px] mt-[40px]">
      <div class="flex flex-col gap-[24px] md:flex-row w-[100%]">
        <div
          class="bg-[#F9EDD7] opacity-0 scroll-animate left-content md:w-[40%] rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34719.svg"
              alt="hero"
              class="w-[60px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            Infrastructure as Code (IaC)
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            We use Terraform, Ansible, or Pulumi to define and manage your
            infrastructure in code — making your cloud infrastructure
            reproducible, scalable, and auditable.
          </p>
        </div>
        <div
          class="md:w-[60%] border-[1px] opacity-0 scroll-animate right-content border-[#9A9A9A] rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34718.svg"
              alt="hero"
              class="w-[60px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            CI/CD Pipeline Implementation
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            We design and manage fully automated Continuous Integration /
            Continuous Deployment (CI/CD) pipelines that ensure fast, frequent,
            and reliable code delivery. Get your features to production faster —
            with fewer bugs and rollbacks.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-[24px] md:flex-row w-full">
        <div
          class="bg-[#D8F6E6] opacity-0 scroll-animate left-content md:w-[60%] rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34722.svg"
              alt="hero"
              class="w-[48px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            Containerization & Kubernetes
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            Using Docker and Kubernetes, we containerize your applications for
            better portability, scalability, and resource efficiency. We set up
            orchestrators, service meshes, and Helm charts to make your system
            production-ready.
          </p>
        </div>
        <div
          class="border-[1px] border-[#9A9A9A] opacity-0 scroll-animate right-content md:w-[40%] rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34720.svg"
              alt="hero"
              class="w-[60px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            Security & Compliance Automation
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            Shift security left with DevSecOps practices. We integrate automated
            security checks, vulnerability scanning, and compliance workflows
            into your CI/CD pipelines.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-[24px] md:flex-row w-full">
        <div
          class="border-[1px] border-[#9A9A9A] opacity-0 scroll-animate left-content md:w-[50%] rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34724.svg"
              alt="hero"
              class="w-[62px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            Monitoring & Logging
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            We set up proactive monitoring, alerting, and logging systems using
            tools like Prometheus, Grafana, ELK Stack, and Datadog. You’ll have
            full visibility into system health, app performance, and potential
            risks.
          </p>
        </div>
        <div
          class="bg-[#F9EDD7] md:w-[50%] opacity-0 scroll-animate right-content rounded-[20px] py-[40px] px-[20px] md:py-[53px] md:px-[42px]"
        >
          <div class="flex justify-end px-[20px] md:px-0">
            <img
              src="../assets/images/devops-service/Group 34721.svg"
              alt="hero"
              class="w-[60px] h-[60px]"
            />
          </div>
          <p
            class="text-[16px] md:text-[20px] leading-[36px] font-[500] mt-[36px] md:mt-0"
          >
            Cloud-Native DevOps
          </p>
          <p
            class="text-[14px] md:text-[16px] leading-[26px] font-[400] mt-[24px]"
          >
            We specialize in DevOps for AWS, Google Cloud, and Azure. From
            scalable infrastructure to cloud-native deployments, we ensure your
            cloud environment is optimized for security, performance, and
            automation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black mt-[60px] md:mt-[120px]">
  <div class="container-custom">
    <p
      class="text-white opacity-0 scroll-animate text-[24px] leading-[44px] pt-[40px] md:pt-[60px] md:text-[36px]"
    >
      Why Choose Devops from Plattr Tech Studio?
    </p>
    <div
      class="mt-[40px] opacity-0 scroll-animate left-content flex flex-col md:flex-row gap-[24px]"
    >
      <div class="rounded-[20px] bg-[#252525] p-[24px] md:p-[47px]">
        <img
          class="w-[40px] h-[40px]"
          src="../assets/images/devops-service/Vector.svg"
          alt=""
        />
        <p
          class="text-white mt-[24px] text-[14px] md:text-[16px] font-[400] leading-[24px]"
        >
          Faster releases through automated deployments
        </p>
      </div>
      <div class="rounded-[20px] bg-[#252525] p-[24px] md:p-[47px]">
        <img
          class="w-[40px] h-[40px]"
          src="../assets/images/devops-service/Group.svg"
          alt=""
        />
        <p
          class="text-white mt-[24px] text-[14px] md:text-[16px] font-[400] leading-[24px]"
        >
          Robust testing and rollback strategies
        </p>
      </div>
      <div class="rounded-[20px] bg-[#252525] p-[24px] md:p-[47px]">
        <img
          class="w-[40px] h-[40px]"
          src="../assets/images/devops-service/Group 347242.svg"
          alt=""
        />
        <p
          class="text-white mt-[24px] text-[14px] md:text-[16px] font-[400] leading-[24px]"
        >
          Expertise in cloud-native and hybrid infrastructure
        </p>
      </div>
    </div>
    <div class="mt-[24px] w-full md:pb-[80px] pb-[40px]">
      <div
        class="flex flex-col opacity-0 scroll-animate right-content gap-[24px] md:flex-row"
      >
        <div
          class="rounded-[20px] bg-[#252525] p-[24px] md:text-[16px] md:p-[47px] md:w-[50%]"
        >
          <img
            class="w-[40px] h-[40px]"
            src="../assets/images/devops-service/11.svg"
            alt=""
          />
          <p
            class="text-white mt-[24px] text-[14px] md:text-[16px] font-[400] leading-[24px]"
          >
            Seamless integration with your existing tools and platforms
          </p>
        </div>
        <div
          class="rounded-[20px] bg-[#252525] p-[24px] md:text-[16px] md:p-[47px] md:w-[50%]"
        >
          <img
            class="w-[40px] h-[40px]"
            src="../assets/images/devops-service/Vector2.svg"
            alt=""
          />
          <p
            class="text-white mt-[24px] text-[14px] md:text-[16px] font-[400] leading-[24px]"
          >
            Dedicated support and continuous optimization
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
