<div class="bg-[#2B4DFF]">
  <div
    class="container-custom mt-[44px] text-white md:flex md:w-full md:flex-row-reverse md:gap-[76px]"
  >
    <div class="flex md:flex-col justify-center pt-[60px]">
      <img
        src="../assets/images/ai-service/Asset 2@4x 4.png"
        alt=""
        class="w-[90%] md:w-[600px] md:h-[259px]"
      />
    </div>
    <div>
      <p
        class="bg-[#191919] mt-[60px] md:mt-[100px] text-[16px] md:text-[28px] md:w-[424px] w-[312px] font-[500] px-[40px] md:px-[57px] py-[10px] md:py-[17px] rounded-[100px]"
      >
        AI-Powered Automation
      </p>
      <p
        class="text-[24px] md:text-[36px] leading-[44px] font-[500] mt-[40px] md:mt-[48px]"
      >
        Smarter Workflows <br/ class="md:hidden"> for Better Productivity
      </p>
      <p
        class="leading-[26px] mt-[16px] md:mt-[24px] md:text-[16px] text-[14px] font-[400]"
      >
        We design AI-powered automation solutions that eliminate repetitive
        tasks and optimize operational workflows. By integrating intelligent
        agents, bots, and analytics into your systems, we help you reduce cost,
        increase speed, and improve consistency
      </p>
      <p class="text-[16px] md:text-[20px] md:mt-[76px] mt-[30px] font-[500]">
        Automation Areas
      </p>
      <div class="mt-[24px] pb-[60px] flex flex-col gap-[24px]">
        <div class="md:flex gap-[24px]">
          <p
            class="text-[14px] md:text-[18px] py-[17px] px-[30px] md:px-[54px] bg-[#1630BC] rounded-[32px]"
          >
            AI-driven business process management
          </p>
          <p
            class="text-[14px] mt-[24px] md:mt-0 md:text-[18px] py-[17px] px-[30px] md:px-[54px] bg-[#1630BC] rounded-[32px]"
          >
            Workflow optimization
          </p>
        </div>
        <div class="md:flex gap-[24px]">
          <p
            class="text-[14px] md:text-[18px] py-[17px] px-[30px] md:px-[54px] bg-[#1630BC] rounded-[32px]"
          >
            Virtual assistants for support and operations
          </p>
          <p
            class="text-[14px] mt-[24px] md:mt-0 md:text-[18px] py-[17px] px-[30px] md:px-[54px] bg-[#1630BC] rounded-[32px]"
          >
            Intelligent document processing
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
