<section class="container-custom mt-[60px] md:mt-[120px]">
    <div class="bg-[#FFFDEC] rounded-[20px]">
        <div>
            <div class="mt-[40px] mx-[16px]">
                <p class="text-[24px] font-medium leading-[48px]">Full-Stack  </br class="md:hidden"> Web Development</p>
                <p class="text-[14px] font-[400] leading-[26px] mt-[16px]">We offer end-to-end full-stack development
                    using modern JavaScript technologies and
                    server-side  frameworks to create powerful
                    web applications.</p>
            </div>
            <div class="mx-[16px] mt-[40px] bg-[#FFFFFF] rounded-[20px]">
                <div class="mx-[16px]">    
                    <p class="pt-[24px]  leading-[30px] font-[500]  text-[16px]">MERN Stack Development (MongoDB,
                    Express.js, React, Node.js)</p>
                <p class="font-[400]  text-[14px] mt-[16px] mb-[12px]">We offer end-to-end full-stack development
                    using modern JavaScript technologies and
                    server-side  frameworks to create powerful
                    web applications.</p></div>
                    <div class="mx-[16px] ">
                        <p class="text-[16px] font-medium leading-[30px] py-[12px]">Why MERN ?</p>
                        <div class="mb-[16px] flex flex-col gap-[24px]">
                            <div class="flex gap-[11px]">
                                <img src="../assets/images/service/Vector6.svg" alt="">
                              <p class="text-[14px] font-[400] ">Ideal for single-page applications and
                                real-time apps</p>
                            </div>
                            <div class="flex gap-[11px]">
                                <img src="../assets/images/service/Vector6.svg" alt="">
                              <p>JavaScript across the entire stack</p>
                            </div>     <div class="flex gap-[11px]">
                                <img src="../assets/images/service/Vector6.svg" alt="">
                              <p>Scalable and flexible for both MVPs
                                and enterprise apps</p>
                            </div>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
</section>


