---
layout: base.njk
title: Platter Tech - IT Solutions
permalink: /
---

{% include "partials/hero.html" %}
{% include "partials/services.html" %}
{% include "partials/testimonial.html" %}
{% include "partials/what-we-do.html" %}
{% include "partials/why-us.html" %}
{% include "partials/reviews.html" %}
{% include "partials/FAQ.html" %}





