<div class="container-custom">
  <div class="text-center mt-[60px] md:mt-[120px] opacity-0 scroll-animate">
    <p class="text-[28px] md:text-[36px] leading-[50px] font-[500]">
      Cross-Platform App Development
    </p>
    <p
      class="text-[14px] md:text-[16px] md:px-[15%] leading-[26px] md:leading-[30px] mt-[24px] font-[400]"
    >
      Build once, deploy everywhere. We use powerful cross-platform technologies
      to deliver consistent user experiences on both Android and iOS — saving
      time, cost, and effort without compromising quality.
    </p>
  </div>
  <div>
    <div class="md:flex w-full gap-[24px]">
      <div
        class="bg-[#FFF1F6] opacity-0 scroll-animate left-content rounded-[20px] mt-[40px] md:w-[50%]"
      >
        <div
          class="py-[40px] md:py-0 md:pt-[80px] md:pl-[80px] md:pr-[70px] md:pb-[30px] mx-[16px]"
        >
          <div class="">
            <p
              class="text-[24px] font-medium leading-[44px] md:text-[36px] md:leading-[52px]"
            >
              React Native App <br/ class="block md:hidden"> Development
            </p>
            <p
              class="text-[14px] font-[400] leading-[26px] md:leading-[30px] mt-[16px] md:text-[16px]"
            >
              React Native allows us to build fast, responsive mobile apps with
              a single codebase while delivering near-native performance.
            </p>
          </div>
          <div class="mt-[40px]">
            <p class="text-[16px] font-medium leading-[30px]">
              Why React Native?
            </p>
            <div class="my-[16px] flex flex-col gap-[24px]">
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Faster time-to-market
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Rich UI components
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Backed by Meta (Facebook) with a strong community
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Ideal for startups and MVPs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[#F8EFFF] opacity-0 scroll-animate right-content rounded-[20px] mt-[40px] md:w-[50%]"
      >
        <div
          class="py-[40px] md:py-0 md:pt-[80px] md:pl-[80px] md:pr-[70px] mx-[16px] md:flex md:flex-col md:justify-between"
        >
          <div class="">
            <p
              class="text-[24px] font-medium leading-[44px] md:text-[36px] md:leading-[52px]"
            >
              Flutter App <br/ class="block md:hidden">Development
            </p>
            <p
              class="text-[14px] font-[400] leading-[26px] md:leading-[30px] mt-[16px] md:text-[16px]"
            >
              Flutter, backed by Google, enables beautiful, natively compiled
              applications with expressive UIs and great performance.
            </p>
          </div>
          <div class="mt-[40px]">
            <p class="text-[16px] font-medium leading-[30px]">Why Flutter?</p>
            <div class="my-[16px] flex flex-col gap-[24px]">
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Highly customizable UI
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Rapid development with Hot Reload
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Best for visually rich applications
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-[60px] md:mt-[120px] opacity-0 scroll-animate">
    <div class="flex justify-center">
      <p
        class="text-[28px] md:text-[36px] leading-[50px] font-[500] w-[50%] md:w-full"
      >
        Native App Development
      </p>
    </div>
    <p
      class="text-[14px] md:text-[16px] md:px-[15%] leading-[26px] md:leading-[30px] mt-[24px] font-[400]"
    >
      When your project demands maximum performance, seamless hardware
      integration, or platform-specific features, we recommend building fully
      native apps for Android and iOS.
    </p>
  </div>
  <div>
    <div class="md:flex w-full gap-[24px]">
      <div
        class="bg-[#FFFDE9] opacity-0 scroll-animate left-content rounded-[20px] mt-[40px] md:w-[50%]"
      >
        <div
          class="py-[40px] md:py-0 md:pt-[80px] md:pl-[80px] md:pr-[70px] md:pb-[30px] mx-[16px]"
        >
          <div class="">
            <p
              class="text-[24px] font-medium leading-[44px] md:text-[36px] md:leading-[52px]"
            >
              Android App <br/ class="block md:hidden">Development (Kotlin)
            </p>
            <p
              class="text-[14px] font-[400] leading-[26px] md:leading-[30px] mt-[16px] md:text-[16px]"
            >
              We build fast, scalable, and secure Android apps using Kotlin —
              the modern programming language officially supported by Google.
            </p>
          </div>
          <div class="mt-[40px]">
            <p class="text-[16px] font-medium leading-[30px]">Ideal For:</p>
            <div class="my-[16px] flex flex-col gap-[24px]">
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Performance-heavy apps
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  Apps requiring deep Android ecosystem integration
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[#F8EFFF] opacity-0 scroll-animate right-content rounded-[20px] mt-[40px] md:w-[50%]"
      >
        <div
          class="py-[40px] md:py-0 md:pt-[80px] md:pl-[80px] md:pr-[70px] mx-[16px] md:flex md:flex-col md:justify-between"
        >
          <div class="">
            <p
              class="text-[24px] font-medium leading-[44px] md:text-[36px] md:leading-[52px]"
            >
              iOS App <br/ class="block md:hidden">Development (Swift)
            </p>
            <p
              class="text-[14px] font-[400] leading-[26px] md:leading-[30px] mt-[16px] md:text-[16px]"
            >
              Our iOS apps are crafted using Swift, ensuring optimal
              performance, native user experience, and Apple-compliant design
              standards.
            </p>
          </div>
          <div class="mt-[40px]">
            <p class="text-[16px] font-medium leading-[30px]">Ideal For:</p>
            <div class="my-[16px] flex flex-col gap-[24px]">
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  High-end consumer apps
                </p>
              </div>
              <div class="flex gap-[11px]">
                <img src="../assets/images/service/Vector6.svg" alt="" />
                <p class="text-[14px] font-[400] md:text-[16px]">
                  iOS-first or Apple-exclusive products
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
