<header class="py-4 container-custom ">
    <div class="relative flex justify-between  animate-slide-in  items-center rounded-full bg-[#F1F1FF] md:min-h-[64px] 2xl:h-[8vh] py-[6px]">
        <a href="/" class="flex items-center">
            <img src="./assets/images/Group 34686.svg" alt="logo" class="h-[50px] w-[50px] ml-2 mr-4" />
            <span class="ml-2 text-lg 2xl:text-xl font-medium text-[#252525]">Plattr Tech Studio</span
      >
    </a>

    <div class="flex items-center mr-2 gap-[90px]">
      <nav class="hidden md:flex items-center gap-5 text-base">
        <a href="/" class="font-normal text-gray-900 hover:text-blue-600"
          >What We Do</a
        >
        <a
          href="/service"
          class="font-normal text-gray-900 hover:text-blue-600"
          >Our Work</a
        >
        <a
          href="/features"
          class="font-normal text-gray-900 hover:text-blue-600"
          >Meet the Team</a
        >
        <a href="/contact" class="font-normal text-gray-900 hover:text-blue-600"
          >Contact Us</a
        >
      </nav>
    </a><a
    href="https://calendly.com/plattrlabs/30min"
    onclick="window.open(this.href, 'popupWindow', 'width=' + (window.innerWidth * 0.8) + ',height=' + (window.innerHeight * 0.8) + ',scrollbars=yes'); return false;"
    class="hidden md:inline-flex gap-2 items-center justify-center h-[44px] w-[143px]  md:h-[48px] md:w-[162px] bg-[#2B4DFF] text-white font-medium rounded-full hover:bg-blue-700 transition-colors"
    >
      Book a Call
      <div class="relative  flex flex-col justify-center items-center"> <div class="bg-white rounded-full w-6 h-6"></div>
      <img
        class="absolute "
        src="./assets/images/Vector.svg"
        alt=""
        srcset=""
      /></div>
     </a>

      <button class="md:hidden text-gray-900" id="mobile-menu-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
  class="md:hidden  hidden absolute z-[9999] animate-slide-in w-full bg-white shadow-xl rounded-xl mt-3 text-sm"
  id="mobile-menu"
>
  <div
    class="container-custom py-7 space-y-4 flex flex-col justify-center items-center"
  >
    <div class="flex flex-col items-center space-y-2 w-full">
      <button onclick="toggleMobileDropdown()" class="flex items-center gap-1 font-medium text-[#252525]">
        What We Do
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transition-transform mobile-dropdown-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>
      <div id="mobileDropdown" class="hidden flex flex-col ml-[24px]  gap-[4px]   w-full">
        <a href="/web-development" class="block text-[16px] font-[400] py-[8px]   text-[#252525] hover:text-blue-600">Web Development</a>
        <a href="/mobile-development" class="block text-[16px] font-[400] py-[8px] text-[#252525] hover:text-blue-600">Mobile Development</a>
        <a href="/ai-ml-services" class="block text-[16px] font-[400] py-[8px] text-[#252525] hover:text-blue-600">AI/ML Services</a>
        <a href="/devops-services" class="block text-[16px] font-[400] py-[8px] text-[#252525] hover:text-blue-600">DevOps Services</a>
      </div>
    </div>
    <a href="/services" class="block font-medium text-[#252525] hover:text-blue-600">Our Work</a
        >
    <a
      href="/features"
      class="block font-medium text-[#252525] hover:text-blue-600"
      >Meet the Team</a
    >
    <a
      href="/contact"
      class="block font-medium text-[#252525] hover:text-blue-600"
      >Contact Us</a
    >

    <div
      href="/book-demo"
      class="inline-flex relative items-center justify-center w-50 px-5 py-2.5 bg-[#2B4DFF] text-white font-medium rounded-full hover:bg-blue-700 transition-colors"
    >
      <p>Book a Call</p>
      <div class="bg-white rounded-full w-6 h-6 ml-2"></div>
      <img
        class="absolute right-[26px]"
        src="../assets/images/Vector.svg"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>
</header>
<section class="container-custom ">
 
  <div class=" h-[85vh] lg:h-[85vh] opacity-0 animate-zoom-in min-h-[400px] rounded-xl bg-[#F1F1FF]   flex flex-col items-center  justify-between ">
  <div class="gap-16 items-center  lg:mt-[10vh]">
    <div class="space-y-6">
        <div class="relative text-2xl leading-9 mt-5  md:mt-2 md:px-50 lg:leading-[84px]   text-center md:text-5xl font-outfit lg:text-6xl font-bold">
  <div>
    <p class="text-[28px] leading-[50px] px-[16px] md:text-[60px] md:leading-[84px]">Empowering <span class="text-[#878787]">Healthcare</span> with
            <br/ class="hidden md:block"><span class="text-[#878787]">Patient-Centric</span> Software Solutions</p>
    </div>
    <!--<div class="mb-2 flex flex-col md:flex-row items-center justify-center">
            <span class="inline-block">Empowering</span>
            <br class="block md:hidden" />
            <div class="inline-block text-[#878787] min-w-[350px] ml-2 ">
                <div class="slide-container md:h-[100px]">
                    <ul class="v-slides">
                        <li class="v-slide">Healthcare</li>
                        <li class="v-slide">Education</li>
                        <li class="v-slide">Logistics</li>
                        <li class="v-slide">Manufacturing</li>
                        <li class="v-slide">Finance</li>
                        <li class="v-slide">Real Estate</li>
                        <li class="v-slide">Hospitality</li>
                        <li class="v-slide">E-Commerce</li>
                        <li class="v-slide">Telecommunications</li>
                        <li class="v-slide">Automotive</li>
                        <li class="v-slide">Energy</li>
                        <li class="v-slide">Media & Entertainment</li>
                        <li class="v-slide">Travel & Tourism</li>
                        <li class="v-slide">Agriculture</li>

                    </ul>
                </div>
            </div>
    </div>


    <div class="flex flex-col md:flex-row items-center justify-center ">
        <span class="inline-block">with</span>
        <div class=" inline-block text-[#878787] min-w-[350px] ml-2 ">
            <div class="slide-container2  min-w-[350px]  ">
                <ul class="v2-slides min-w-[350px] ">
                    <li class="v2-slide">Patient-Centric</li>
                    <li class="v2-slide">Interactive</li>
                    <li class="v2-slide">Efficient</li>
                    <li class="v2-slide">Automated</li>
                    <li class="v2-slide">Secure</li>
                    <li class="v2-slide">Smart</li>
                    <li class="v2-slide">Seamless</li>
                    <li class="v2-slide">Scalable</li>
                    <li class="v2-slide">Reliable</li>
                    <li class="v2-slide">Innovative</li>
                    <li class="v2-slide">Sustainable</li>
                    <li class="v2-slide">Engaging</li>
                    <li class="v2-slide">Connected</li>
                    <li class="v2-slide">Smart Farming</li>
                </ul>
            </div>
        </div>
        <span class="inline-block">Software Solutions</span>
    </div>-->
    </div>
    <p class="text-center text-lg md:text-2xl px-[16px]">with our AI-powered Solutions, we trasform challenges into opportunities.</p>
    <div class="flex items-center justify-center  gap-4 pt-2 md:pt-4">
        <div class="flex justify-center h-[44px] w-[143px] items-center md:h-[48px] md:w-[162px] rounded-full border border-gray-300"><a href="/services" class="  text-gray-900    flex items-center gap-2 hover:bg-gray-50 transition-all">
            Our Services
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </a></div>
        <a href="https://calendly.com/plattrlabs/30min" onclick="window.open(this.href, 'popupWindow', 'width=' + (window.innerWidth * 0.8) + ',height=' + (window.innerHeight * 0.8) + ',scrollbars=yes'); return false;" class="inline-flex gap-2 items-center justify-center h-[44px] w-[143px]  md:h-[48px] md:w-[162px] bg-[#2B4DFF] text-white font-medium rounded-full hover:bg-blue-700 transition-colors">
          Book a Call
          <div class="relative  flex flex-col justify-center items-center"> <div class="bg-white rounded-full w-6 h-6"></div>
          <img
            class="absolute "
            src="./assets/images/Vector.svg"
            alt=""
            srcset=""
          /></div>
         </a>

    </div>
    </div>
    </div>
    <div class="w-full ">

        <div class="flex justify-center md:justify-between   w-full">
            <div class=" relative hidden bottom-0  w-[10vw] md:w-[14vw]  md:flex flex-col items-start justify-end">
                <img src="./assets/images/Group11.svg" alt="hero" class=" bottom-0  " />

            </div>
            <div class="relative md:w-[20%] md:mr-[5%]">
                <img src="./assets/images/Open Folder.png" alt="hero" class="w-[70vw] md:w-full " />
                <span class="absolute left-[18%] top-[24%] text-sm md:justify-end lg:text-lg">10+ Clients</span>
                <img src="./assets/images/indian-railways3115 1.png" alt="hero" class="absolute top-[50%] left-[15%] md:w-[25%]" />
                <p class="absolute font-afacad top-[60%] left-[40%] md:top-[56%] md:left-[45%] 2xl:left-[41%] 2xl:text-4xl  lg:left-[45%] text-3xl md:text-2xl text-bold">
                    <span class="text-[#16C878] ">wim</span>cart</p>
            </div>
        </div>
    </div>
    </section>


    <script>
        const vsOpts = {
            slides: document.querySelectorAll('.v-slide'),
            duration: 0.5,
            delayBetweenSlides: 1.5
        };

        const vSlide = gsap.timeline({
            repeat: -1
        });

        vsOpts.slides.forEach((slide, index) => {
            const chars = new SplitText(slide, {
                type: "chars"
            }).chars;

            // Hide all other slides
            vSlide.set(vsOpts.slides, {
                visibility: "hidden",
                opacity: 0
            });

            // Show current slide only
            vSlide.set(slide, {
                visibility: "visible",
                opacity: 1
            });

            // Animate its characters
            vSlide.fromTo(
                chars, {
                    y: 50,
                    opacity: 0
                }, {
                    y: 0,
                    opacity: 1,
                    stagger: 0.05,
                    duration: vsOpts.duration,
                    ease: "power2.out"
                }
            );

            // Pause before transitioning
            vSlide.to(slide, {
                opacity: 0,
                duration: 0.3,
                delay: vsOpts.delayBetweenSlides
            });

            // Optionally hide it after fade out
            vSlide.set(slide, {
                visibility: "hidden"
            });
        });

        vSlide.play();
        //second word
        function animateV2Slides() {
            const vsOpts = {
                slides: document.querySelectorAll('.v2-slide'),
                duration: 0.5,
                delayBetweenSlides: 1.5
            };

            const vSlide = gsap.timeline({
                repeat: -1
            });

            vsOpts.slides.forEach((slide, index) => {
                const chars = new SplitText(slide, {
                    type: "chars"
                }).chars;

                // Hide all other slides
                vSlide.set(vsOpts.slides, {
                    visibility: "hidden",
                    opacity: 0
                });

                // Show current slide only
                vSlide.set(slide, {
                    visibility: "visible",
                    opacity: 1
                });

                // Animate its characters
                vSlide.fromTo(
                    chars, {
                        y: 50,
                        opacity: 0
                    }, {
                        y: 0,
                        opacity: 1,
                        stagger: 0.05,
                        duration: vsOpts.duration,
                        ease: "power2.out"
                    }
                );

                // Pause before transitioning
                vSlide.to(slide, {
                    opacity: 0,
                    duration: 0.3,
                    delay: vsOpts.delayBetweenSlides
                });

                // Optionally hide it after fade out
                vSlide.set(slide, {
                    visibility: "hidden"
                });
            });

            vSlide.play();
        }

        animateV2Slides();
    </script>

    <script>
        function toggleMobileDropdown() {
            const dropdown = document.getElementById('mobileDropdown');
            const icon = document.querySelector('.mobile-dropdown-icon');
            dropdown.classList.toggle('hidden');
            icon.style.transform = dropdown.classList.contains('hidden') ? 'rotate(0deg)' : 'rotate(180deg)';
        }
    </script>