<section class="testimonial mt-[60px] md:mt-[120px]">
  <div class="container-custom">
    <div
      class="testimonial-content opacity-0  scroll-animate rounded-xl bg-[#F1F1FF] px-4 py-2 md:pl-10 md:py-5"
    >
      <p
        class="pt-8 text-xl font-semibold font-outfit leading-10 md:text-4xl md:w-[50%] md:leading-[50px]"
      >
        Transform Your Business <br />with Tailored Software Solutions
      </p>
      <p class="py-2 text-[16px] leading-6 md:py-5 md:text-lg">
        We Help You Overcome Challenges and Achieve Growth
      </p>
      <p
        class="py-2 text-[14px] leading-6 md:pr-32 md:text-[16px] md:leading-8"
      >
        At PlattrTechStudio, we combine cutting-edge AI technology with custom
        software solutions to address your most pressing business challenges.
        Whether you're struggling with inefficient workflows, a lack of
        real-time insights, or the inability to scale, our AI-powered tools are
        designed to streamline your operations and drive growth. From automating
        repetitive tasks and providing predictive analytics to personalizing
        customer experiences and optimizing resource allocation, we empower your
        business to thrive in a competitive landscape. Let us help you build
        intelligent, future-ready systems that deliver efficiency,
        profitability, and innovation.
      </p>
      <div class="py-8">
        <a
          href="https://calendly.com/plattrlabs/30min"
          onclick="window.open(this.href, 'popupWindow', 'width=' + (window.innerWidth * 0.8) + ',height=' + (window.innerHeight * 0.8) + ',scrollbars=yes'); return false;"
          class="inline-flex gap-2 items-center justify-center h-[44px] w-[143px] md:h-[48px] md:w-[162px] bg-[#2B4DFF] text-white font-medium rounded-full hover:bg-blue-700 transition-colors"
        >
          Book a Call
          <div class="relative flex flex-col justify-center items-center">
            <div class="bg-white rounded-full w-6 h-6"></div>
            <img
              class="absolute"
              src="./assets/images/Vector.svg"
              alt=""
              srcset=""
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
