<section id="WhatWeDo">
  <div class="container-custom">
    <h1 class="text-center text-2xl font-semibold py-14 md:text-3xl">
      What We Do
    </h1>
    <div class="flex flex-col gap-5 md:flex-row">
      <div class="first container-custom md:w-[70%] bg-[#FFF1F6] rounded-xl">
        <div class="md:flex">
          <div class="flex flex-col pl-3 pt-7 md:w-[60%]">
            <p class="text-lg font-medium md:text-2xl">Web Development</p>
            <p class="text-sm py-5 md:text-lg">
              Manual, time-consuming tasks are holding your business back.
            </p>

            <div class="flex gap-2">
              <p class="text-[#FF518F] md:text-lg cursor-pointer">View More</p>
              <img src="./assets/images/Vector2.svg" alt="" />
            </div>
          </div>
          <div class="flex justify-end pt-12 md:pt-24">
            <img class="" src="./assets/images/Asset 2@4x 8.png" alt="" />
          </div>
        </div>
      </div>
      <div class="second container-custom bg-[#F8EFFF] rounded-xl">
        <div class="md:flex">
          <div class="flex flex-col pl-3 pt-7 md:w-[60%]">
            <p class="text-lg font-medium md:text-2xl">Mobile Development</p>
            <p class="text-sm py-5 md:text-lg">
              Manual, time-consuming tasks are holding your business back.
            </p>

            <div class="flex gap-2">
              <p class="text-[#AE47FF] md:text-lg cursor-pointer">View More</p>
              <img src="./assets/images/Vector3.svg" alt="" />
            </div>
          </div>
          <div class="flex justify-end pt-12 md:pt-24">
            <img class="" src="./assets/images/Asset 3@4x 8.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5 md:flex-row mt-5">
      <div class="third container-custom bg-[#EFFFF7] rounded-xl">
        <div class="md:flex">
          <div class="flex flex-col pl-3 pt-7 md:w-[60%]">
            <p class="text-lg font-medium md:text-2xl">AI/ML as service</p>
            <p class="text-sm py-5 md:text-lg md:pr-2">
              Manual, time-consuming tasks are holding your business back.
            </p>

            <div class="flex gap-2">
              <p class="text-[#1FC974] md:text-lg cursor-pointer">View More</p>
              <img src="./assets/images/Vector4.svg" alt="" />
            </div>
          </div>
          <div class="flex justify-end h-full pt-12 md:pt-[68px]">
            <img class="" src="./assets/images/Asset 3@4x 3.png" alt="" />
          </div>
        </div>
      </div>
      <div class="fourth container-custom md:w-[70%] bg-[#FFF1F6] rounded-xl">
        <div class="md:flex">
          <div class="flex flex-col pl-3 pt-7 md:w-[60%]">
            <p class="text-lg font-medium md:text-2xl">DevOps as Service</p>
            <p class="text-sm py-5 md:text-lg">
              Manual, time-consuming tasks are holding your business back.
            </p>
            <div class="flex gap-2">
              <p class="text-[#DDB400] md:text-lg cursor-pointer">View More</p>
              <img src="./assets/images/Vector5.svg" alt="" />
            </div>
          </div>
          <div class="flex justify-end pt-12 md:pt-24">
            <img class="" src="./assets/images/Asset 4@4x 8.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
